@import url("reset.css");

@font-face {
  font-family: 'Neutra Light';
  src: url('../../fonts/NeutraDispLightAlt.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/NeutraDispLightAlt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/NeutraDispLightAlt.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/NeutraDispLightAlt.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/NeutraDispLightAlt.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Neutra Medium';
  src: url('../../fonts/NeutraTextBookAlt.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/NeutraTextBookAlt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/NeutraTextBookAlt.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/NeutraTextBookAlt.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/NeutraTextBookAlt.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/* =============
  Box fix
============= */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* =============  
  Clear fix  
============= */
.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
.clear {
  *zoom: 1;
}

body {
  font-family: 'Neutra Light';
  color: white;
  background-color: black;
  height: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: white;
}

.accent_color {
  color: rgb(252, 188, 248);
}

/* ============
  Basic Grid
============= */
.controls {
  float: right;
  width: 20%;
  height: 100%;
}

.container {
  width: 80%;
  float: right;
  height: 100%;
}

.spotlight_overlay {
  width: 100%;
  height: 100%;
}

footer {
  width: 18%;
  height: 4%;
  position: fixed;
  bottom: 0;
  right: 0;
}


nav {
  position: relative;
  width: 100%;
  border: 1px solid white;
  height: 80%;
}

.dummy {
  padding-top: 100%; /* forces 1:1 aspect ratio */
}

.nav_container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  text-align: center; /* Align center inline elements */
  font: 0/0 a;
}

.nav_container:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.nav_container ul {
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  padding-left: 25%;
  font-size: 18px;
}

nav li {
  line-height: 5rem;
  font-size: 2.5rem;
}

nav a:hover {
  color: rgb(252, 188, 248);
}

.content {
  width: 96%;
  background-color: gray;
  margin-right: 3.84%;
  height: 100%;
  display: block;
}

header {
  height: 16%;
}

.logo {
  width: 100%;
  height: 100%;
  padding: 2rem 3rem 0 0rem;
  margin-left: -1rem;
}

.logo h1 {
  text-transform: uppercase;
  font-size: 3rem;
}

.logo h2 {
  font-size: 2.25rem;
}